
feature: "germinal"
task_type: "binary"
magnification: "10x"
loss: ["wCE"]
name: "$model_$feature_$mag_$augment_$dim_$step_0.001_baseline" 
batch_size: 2
image_dims: 1024
epochs: 50
augmentation: 
        methods: [[]]
        saturation: [1,1.1]
        brightness: 0.1
        hue: 0.1
        contrast: [1,1.1]
        flip_prob: 0.5
        rotate_prob: 0.5
        color_prob: 0.5
normalize:
        methods: ["Scale"]
        channel_std: [0.633, 0.383, 0.649]
        channel_mean: [0.143, 0.197, 0.19]        
num_classes: 1 
weights: [63]
model: 
        network: "multiunet"
        filters: [32,64,128,256,512]
        final_activation: "sigmoid"
        dropout: 0
learning_rate: 0.0001 
gpu_num: 4
metric: "dice_coef" 
threshold: 0.9
early_stopping:
        metric: [0.075,0.075]
        epochs: [20, 56]
step: 1024
